body{
	margin: 0;
	background-color: #E8E8E;
}
a{
	color: white;
	text-decoration: none;
	border: 0;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
a:hover{
	text-decoration: underline;
}
h2{
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	font-weight: 100%;
}
p{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: justify;
	margin-right: 60px;
	margin-left: 60px;
}
header{
	background: url("../images/head.jpg") center center fixed;
	background-size: cover;
	background-position: center;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 635px;
}
.logo{
	height: 60px;
}
.head{
    font-family: 'Quicksand', sans-serif;
	font-size: 50px;
	color: white;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
}
.cta{
	text-align: center;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 24px;
	text-align: center;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	margin-top: 130px;
	margin-bottom: 60px;
	text-transform: uppercase;
}
.cta:hover{

	color: #7DDEFF;
}

.arrow{
	height: 28px;
	filter: invert(100%);
	margin-top: 30px;
	margin-bottom: -230px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.arrow:hover{
	filter: invert(1%);
	opacity: 0.1;
}
.container{
	background-color: white;
	margin: 10px;
	box-shadow: 1px 5px 20px #888888;
	padding-top: 10px;
	padding-bottom: 10px;
}
.heading{
	background-color: white;
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;;
	box-shadow: 1px 5px 20px #888888;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	text-align: center;
	color: black;
}
.card{
	box-shadow: 1px 5px 20px #888888;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}
.card-img{
	width: 100%;
	margin-top: -5px;
	margin-bottom: -10px;
}

/* Responsive Grid Design */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 10px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }


@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
	.portfolio-heading{	width: 100%;}
}
