/* General */
body {
	font-family: 'Open Sans', sans-serif;
	background: #eeeeee;
	margin: 0;
}
a {
	color:  #009688;
	font-weight: bold;
}
a:hover {
	color: #888888;
	text-decoration: none;
}
/* Logo */
.logo {
	position: absolute;
	left: 0;
	top: 0;
	margin: 10px;
}

/* Header */
.jumbotron {
	height: 100vh;
	background: url("../images/head.jpg") center fixed;
	background-size: cover;
	color: #eeeeee;
}
.jumbotron h1 {
	font-size: 60px;
	text-align: center;
	margin-top: 30vh;
}

.jumbotron p {
	margin-top: 60px;
	text-align: center;
	font-size: 20px;
}

/* Sections */
.about, .portfolio, .features, .team {
	margin-top: 30px;
}
.about h2, .portfolio h2, .features h2, .team h2 {
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	margin: 40px;
}
.about img, .portfolio img, .team img {
	width: 100%;
}
.about p, .portfolio p, .features p, .team p {
	width: 90%;
	font-size: 20px;
	padding: 10px;
	margin: 0 auto;
}
.portfolio p, .team p {
	text-align: center;
}
.features i {
	margin: 30px 0 20px 0;
}
.card {
	background: #fff;
	width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
/* Special Section */
.special {
	background: url("../images/head.jpg") center fixed;
	background-size: cover;
	height: 50vh;
	margin-top: 40px;
}
button.special-button {
	margin-top: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #212121;
	background: white;
	opacity: 0.5;
	border: 0;
	border-radius: 5px;
	padding: 8px 15px 8px 15px;
}
button.special-button:hover {
	color: #0091ea;
}
button i {
	margin-left: 10px;
}

/* Footer */
footer {
	background: #212121;
	height: 30vh;
	margin-top: 50px;
	color: #eeeeee;
}
.social ul{
	clear: left;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
	margin-top: 70px;
}
.social ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	right: 50%;
	padding: 10px;
}
.social ul li i {
	font-size: 25px;
}
.copyright {
	text-align: center;
	font-size: 18px;
}
